<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Dialect -->
        <property name="hibernate.dialect">${wisedb.hibernate.dialect}</property>

        <!-- Driver class -->
        <property name="hibernate.connection.driver_class">${wisedb.jdbc.connection.driver_class}</property>

        <!-- Connection URL -->
        <property name="hibernate.connection.url">${wisedb.jdbc.connection.url}</property>

        <!-- Connection Username/Password -->
        <property name="hibernate.connection.username">${wisedb.jdbc.connection.username}</property>
        <property name="hibernate.connection.password">${wisedb.jdbc.connection.password}</property>

        <!-- Connection pool size -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Auto reconnect when losing connections -->
        <property name="hibernate.connection.autoReconnect">true</property>

        <!-- Update on schema creation . Should be removed in production -->
        <property name="hibernate.hbm2ddl.auto">${wisedb.hibernate.hbm2ddl.auto}</property>

        <!-- thread level sessions -->
        <property name="current_session_context_class">thread</property>

        <!-- Print SQL -->
        <property name="show_sql">true</property>

        <!-- Print "pretty" SQL statements -->
        <property name="use_sql_comments">true</property>
        <property name="format_sql">true</property>

        <!-- Enable second level cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>

        <!-- Mapping files for read-only tables -->
        <!--<mapping package="eu.wisebed.wisedb.model"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.Setup"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.Testbed"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.Origin"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.TimeInfo"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.Node"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.NodeCapability"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.NodeReading"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.Link"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.LinkCapability"/>-->
        <!--<mapping class="eu.wisebed.wisedb.model.LinkReading"/>-->

        <mapping resource="eu/wisebed/wisedb/model/Testbed.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/Setup.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/Link.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/Node.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/Capability.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/NodeCapability.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/LinkCapability.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/NodeReading.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/LinkReading.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/LastNodeReading.hbm.xml"/>
        <mapping resource="eu/wisebed/wisedb/model/LastLinkReading.hbm.xml"/>
        <!--<mapping resource="eu/wisebed/wisedb/model/Slse.hbm.xml"/>-->
        <!--<mapping resource="eu/wisebed/wisedb/model/Semantic.hbm.xml"/>-->

        <!-- Event listeners -->
        <event type="save-update">
            <listener class="eu.wisebed.wisedb.listeners.LastNodeReadingListener"/>
        </event>

    </session-factory>
</hibernate-configuration>
